/* O seletor corresponde a cada elemento que é o enésimo filho de seu pai.:nth-child(n) pega a segunda foto do feed */
.photo:nth-child(2){
  grid-column: 2 / 4; /* vai expandir a imagem ocupando 4 colunas - 2 acima e 2 abaixo*/
  grid-row:span 2 ;
}


@media (max-width: 40rem) {
  .photo:nth-child(2){
    grid-column: initial;
    grid-row: initial;
  }
}


.photo {
  display: grid;
  border-radius: 0.2rem;
  overflow: hidden;
  cursor: pointer;
}

.photo > div {
  grid-area: 1/1;
}

.visualizacao {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  grid-area: 1/1;
  display: none;
}

.visualizacao::before {
  width: 16px;
  height: 10px;
  content: '';
  display: inline-block;
  margin-right: 0.25rem;
  background: url('../../Assets/visualizacao.svg') no-repeat;
}

.photo:hover .visualizacao {
  display: flex;
}
